/* --- Base --- */
*root {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --- Header --- */
header {
    padding: 20px 35px;
    background-color: #D5F2EA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Navigation */

header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
  }
  
  /* button styling */
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.60vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  
  }
  
  header nav ul li a:hover {
    background: #0E5259;
    color: #D5F2EA;
    border-radius: 15px;
    text-shadow: none;
    /*    transition: .5s ease-in;*/
}


/* --- Footer --- */


/* --- Media Screens --- */

/* Mobile 575px */

/* Tablet 768px */

/* Desktop 980px */
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

header nav ul li a {
    font-size: 20px;
}