/* --- Base --- */
* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #028f9f;
}

h1, h2, h3, p {
    color: white;
}



h1 {
    font-size: 3.0vw;
   
}

h2 {
    font-size: 3.5vw;
    color: #028f9f;
}

h3 {
    font-size: 2.0vw;
}

a h3:hover  {
    color: #cdfaff;
    font-size: 3.0vw;
    text-decoration: underline;
}

p {
    font-size: 1.5vw;
    
}

a:hover {
    color: #cdfaff;
}

/* --- Header --- */
header {
    padding: 20px 35px;
    background-color: #cdfaff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Navigation */

header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
  }
  
  /* button styling */
  
  header nav ul li a {
    padding: 10px;
    font-weight: normal;
    font-size: 1.60vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  
  }
  
  header nav ul li a:hover {
    background: #028f9f;
    color: #cdfaff;
    border-radius: 15px;
    text-shadow: none;
    /*    transition: .5s ease-in;*/
}

/* about */
.about, .summary, .portfolio, .resume, .pdf, .contact {
    margin: 10px 20px;
    padding: 20px
}

.about h1 {
    justify-content: center;
}

.profile {
   padding-bottom: 20px;
}

.profile img {
    display: block;
    margin: auto;
    width: 50%;    
}

/* Contact Form */


form {
    width: 40%;
    padding: 5px 40px;
}

input {
	font-size: 1rem;
	padding: 0.25rem;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
	width: 30vw;
}

input:focus {
	border: 1px solid #028f9f;
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 50vw;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.label {
    color:white;
 }



/* Portfolio */

.card-title {
    color:white;
}

.card-title.h5 {
    font-size: 2.0vw;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-link {
    padding: 0 20px;
    font-size: 1.5vw;
    color: white; 
}

.card-body  {
  padding: 10px 50px 10px;
  text-align: center;
}

/* Resume  */
 .skills {
    color: white;
    padding-left: 30px;
    text-decoration: none;
}



/* --- Footer --- */
.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

footer img {
    max-width: 60px;
    padding: 10px;
}

/* --- Media Screens --- */

/* Mobile 575px */
@media screen and (max-width: 575px) {
    h1 {
        font-size: 2.0vw;
    }
    
    h2 {
        font-size: 1.5vw;
    }
    
    h3 {
        font-size: 1.5vw;
    }
    
    p {
        font-size: 1.5vw;
    }
}

/* Tablet 768px */
@media screen and (max-width: 768px) {}

/* Desktop 980px */
@media screen and (max-width: 980px) {
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

header nav ul li a {
    font-size: 20px;
}
}